#team {
    background: #000000 !important;
}

.flip-card .card {
    max-height: 250px;
}

.guest-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team {
    padding: 60px 0;
}

#team .card {
    border: none;
    /* background: #ffffff; */
    background: #3c4cad;
    color: whitesmoke;
    border: 3px solid #f9c449;

}

.flip-card:hover .flip-card-back,
.flip-card.hover .flip-card-back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    /* border-radius: 0.25rem; */
}

.flip-card:hover .flip-card-front,
.flip-card.hover .flip-card-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-inner {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card-front {
    position: relative;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    /* background: white; */
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    /* -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158); */
}

.flip-card-front,
.flip-card-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.flip-card-front .card,
.flip-card-back .card {
    min-height: 312px;
}

.flip-card-back .card a {
    font-size: 18px;
    color: #f9c449 !important;
}

.flip-card-front .card .card-title,
.flip-card-back .card .card-title {
    color: #f9c449 !important;
}

.flip-card-front .card .card-body img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #f9c449;
}