@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/* body {
  background-color: black;
  background-image: url("nes-hero-bg.png");
} */
.App {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-image: url('./images/nes-hero-bg.png');
    background-size: 100% 100%;
}

/* ******************************************************************* */
.start-header {
    padding: 20px 0;
    box-shadow: 0 10px 50px 0 rgba(138, 155, 165, 0.3);
}

.navbar {
    padding: 0;
}
.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #000000 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #240e8b !important;
}

.nav-item.active .nav-link {
    color: #240e8b !important;
}

.nav-link {
    position: relative;
    padding: 5px 5px !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #240e8b;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

/* ******************************************************************** */
/* .Hero {
    background-image: url('./images/nes-hero-bg.png');
    background-size: 1535px 580px;
} */

.Hero h3,
h5,
h4 {
    color: white;
    /* font-family: sanchez; */
    /* font-weight: bold; */
    /* font-weight: bold; */
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #f9c449;
    animation: glitch 725ms infinite;
}

.Hero h1 {
    /* font-family: cursive; */
    color: #f9c449;
    text-shadow: 0 0 10px #f9c449, 0 0 10px #f9c449;
}

/* .logo{
    padding: 100px 0px 30px;
} */
.iic {
    padding: 30px 0px 30px;
}

.nes {
    padding: 30px 0px 50px;
}

.counter {
    color: white;
    /* padding: 10px 0px 0px; */
}
.login-box{
    padding: 0px 0px 30px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: #03e9f4;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover {
    background: #03e9f4;
    /* color: #fff; */
    color: #240e8b;
    border-radius: 5px;
    box-shadow: 0 0 50px #03e9f4;
}
.login-box a span {
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}